$primary-color: #3498db;
$secondary-color: #3a473f;
$accent-color: #e74c3c;
$background-color: #f9fafb;
$text-color: #111827;
$text-white: #f9fafb;
$text-gray: #1f2937;
$button-color: #030712;
$button-color-secondary: #374151;
$button-color-light: #f3f4f6;
$border-color: #bdc3c7;
$dot: #03071233;
