.ic--logo {
    background-image: url('./../assets/svgs/Logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ic--checkbox {
    background-image: url('./../assets/svgs/Checkbox.svg');
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
}

.ic--instagram {
    background-image: url('./../assets/svgs/Instagram.svg');
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
}

.ic--youtube {
    background-image: url('./../assets/svgs/Youtube.svg');
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
}

.ic--tiktok {
    background-image: url('./../assets/svgs/Tiktok.svg');
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
}

.ic--lightning {
    background-image: url('./../assets/svgs/TLightning.svg');
    background-size: contain;
    background-position: center;
    width: 36px;
    height: 36px;
}

.ic--caret-down {
    background-image: url('./../assets/svgs/CaretDown.svg');
    background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
}

.ic--menu {
    background-image: url('./../assets/svgs/Menu.svg');
    background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
}

.ic--arrow-right {
    background-image: url('./../assets/svgs/ArrowRight.svg');
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}
