@use './../../colors.scss' as *;

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 80px;
    .menu-container {
        display: flex;
        gap: 8px;
        .menu-item {
            padding: 14px 16px;
            font-weight: 600;
            font-family: 'DM Sans';
            text-align: center;
            vertical-align: middle;
            color: $text-color;
            gap: 8px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    .header-button {
        background-color: $button-color;
        border: none;
        border-radius: 8px;
        color: $text-white;
        font-weight: 600;
        line-height: 20px;
        padding: 14px 16px;
        height: 48px;
        font-size: 14px;
    }
}
